<div class="submit-form">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="tutorial.title" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="tutorial.description" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="saveTutorial()">Submit</button>
    </div>
    <div *ngIf="submitted">
        <h4>Tutorial was submitted successfully!</h4>
        <button mat-raised-button color="primary" (click)="newTutorial()">Add</button>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>